@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: poppins;

  src: url(../public/Poppins/Poppins-Medium.ttf) format(true type),
}
@font-face {
  font-family: poppins-bold;

  src: url(../public/Poppins/Poppins-Bold.ttf) format(truetype)
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: poppins;
  scroll-behavior: smooth;
}
body{
  animation: fade 1.5s ;
  background-color: #f1f5f9;

}

@keyframes fade {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
:root {
  --font-poppins: poppins;
  --font-poppins-bold : poppins-bold;
  
}

.scrollbar-none::-webkit-scrollbar{
  display: none;
}


.flex-center{
  @apply flex justify-center items-center
}
.flex-between{
  @apply flex justify-between items-center
}
.flex-start{
  @apply flex justify-start items-center
}

.my-gradient {
  @apply  bg-gradient-to-br from-grown-50   to-grown-100   
}
.my-hover {
  @apply bg-gradient-to-br from-grown-50   to-grown-100   hover:opacity-80 hover:shadow-md shadow-grown-50  transition-all duration-500
}


.active{
    opacity: 1;
  pointer-events: visible;
}

.shadow-costume{
  box-shadow: 0px 0px 10px rgba(0,0,0,.1) ;
}


/*  user table */

.user-table{
  @apply bg-white
}
.user-table th{
  @apply border text-base font-medium
}
.user-table td{
  @apply border text-base py-2
}



/* ////////////////////// */

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #013304; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background:#96F207; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0075FF; 
}